body
{
    background-color: #f7f7f7;
}

.MasterHeader
{
    position:absolute;
    width:100%;
    z-index:100;
    height: 80px;
    background-color: #fff;
}
.MasterHeader > div
{
    padding: 20px 0;
}
.MasterHeader > div > div
{
    position: relative;
}
.MasterHeader .logo
{
    position: absolute;
    left: 0;
    top: 0;
}
.MasterHeader .logo img
{
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}
.MasterHeader .tim-kiem
{
    position: absolute;
    right: 0;
    top: 0;
}


.menu-master
{
    position: absolute;
    right: 196px;
    top: 10px;
}
.menu-master-list
{
    display: inline-block;
}
.menu-master-list > div
{
    display: inline-block;
    font-size: 11pt;
    padding-right: 33px;
    cursor: pointer;
    text-align:center;
    font-weight:500
}
.menu-master-list > div > div
{
    display: inline-block;}
.menu-master-list i
{
    margin-right: 10px;
}
.menu-master-list > div:hover, .MasterHeader .menu-master-list > div.active
{
    color: #14417e;
}
.MasterFooter
{
    background-color: #fff;
    padding: 20px;
    height:333px;
    background-image:url(./image/footer.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
.MasterFooter > div
{
    display: none;
    width: 49%;
}
.MasterBody
{
    padding:80px 0
    }