
@{
    ViewBag.Title = "homepage";
}

<h2> hello DAK homepage</h2>
<div>
    <ul >
        <li >@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</div>

214235
